// 重要
.g-font-48 {
    font-size: 48px;
    line-height: 48px;
}

.g-font-40 {
    font-size: 40px;
    line-height: 40px;
}

.g-font-36 {
    font-size: 36px;
    line-height: 52px;
}

.g-font-32 {
    font-size: 32px;
    line-height: 42px;
}

.g-font-30 {
    font-size: 30px;
    line-height: 40px;
}


// 一般
.g-font-28 {
    font-size: 28px;
    line-height: 38px;
}

.g-font-26 {
    font-size: 26px;
    line-height: 36px;
}


// 弱
.g-font-24 {
    font-size: 24px;
    line-height: 34px;
}

.g-font-20 {
    font-size: 20px;
    line-height: 30px;
}

.g-icon-img {
  width: 32px;
  height: 32px;
}