// UI设计视觉规范色值

// 主色
$primaryColor: #C3924F;
$primaryDisableColor: #E7D9C6;
$warningColor: #C7000B;

// 辅助色 -- 标签、icon、装饰、提示
$subColor1: #423129;
$subColor2: #907041;
$subColor3: #586B83;
$subColor4: #65714B;
$subColor5: #E6EED2;
$subColor6: #E6EED2;

// 文本色
$textColor1: #000000;
$textColor2: #666666;
$textColor3: #979797;
$textColor4: #C1C1C4;


//边框
$borderColor1: #c3924d;
$borderColor2: #586B83;
$borderColor3: #65714b;
$borderColor4: #979797;
$borderColor5: #c1c1c1;
$borderColor6: #DDDDDD;


// 分割线
$dividingLineColor: #EEEEEE;

// 内容区底色、侧边栏背景色、顶部搜索框、标签背景色
$bgColor: #F9F6F1;
$bgInputColor: #F7F7F7;
$bgBtnColor: #F1F2F2;
$bgTagColor: #E6EED2;
$bgTagColor2: #F8F6F0;


